@charset "utf-8";
/* CSS Document */
*{box-sizing: border-box}
.container
{
	width: 100%; 
	padding-right:  15px ; /* đẩy bờ lề 2 bên vào 16 */
	padding-left: 15px ;
	margin-right: auto;
	margin-left: auto ;
	border: thin/* khung duong vien do bao quanh container*/
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
	
  }
}

@media (min-width: 768px) 
{
 .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
	.blur{
		/* From https://css.glass */
background: rgba(18, 28, 51, 0.33);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.6px);
-webkit-backdrop-filter: blur(8.6px);
border: 1px solid rgba(18, 28, 51, 0.24);
	}
	
	
.container
	{
		width: 80%;
		margin: auto ;
	}

.row/* tạo 1 hàng hiển thị các cột lên cạnh nhau cho đủ 100%*/
{
	display: flex;
	flex-wrap: wrap ;
	border: thin ;/*khung viền của cột row*/
}
.col-1{ width:8.3333%}
.col-2{ width: 16.6666%}
.col-3 { width:25%}
.col-4 { width:33.3333%}
.col-5{ width:41.6666% }
.col-6{width: 50%}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
@media (min-width:768px)
{
	.col-md-1{ width:8.3333%}
	.col-md-2{ width: 16.6666%}
	.col-md-3 { width:25%}
	.col-md-4 { width:33.3333%}
	.col-md-5{ width:41.6666% }
	.col-md-6{width: 50%}
	.col-md-7 {width: 58.33%;}
	.col-md-8 {width: 66.66%;}
	.col-md-9 {width: 75%;}
	.col-md-10 {width: 83.33%;}
	.col-md-11 {width: 91.66%;}
	.col-md-12 {width: 100%;}
}
@media (min-width:1000px)
{
	.col-lg-1{ width:8.3333%}
	.col-lg-2{ width: 16.6666%}
	.col-lg-3 { width:25%}
	.col-lg-4 { width:33.3333%}
	.col-lg-5{ width:41.6666% }
	.col-lg-6{width: 50%}
	.col-lg-7 {width: 58.33%;}
	.col-lg-8 {width: 66.66%;}
	.col-lg-9 {width: 75%;}
	.col-lg-10 {width: 83.33%;}
	.col-lg-11 {width: 91.66%;}
	.col-lg-12 {width: 100%;}
}
[class*="col-"] 
{
	padding: 15px; 
	border: 1px; /*khung viền của cột col*/
}
.img-100 { width: 100%; height: auto}
.d-flex{ display: flex}
/* phan phoi distribute ---day chieu ngang*/
.justify-content-start{ justify-content: flex-start}
.justify-content-end{ justify-content: flex-end}
.justify-content-center{ justify-content:center}
.justify-content-between{ justify-content:space-between}
/*-- day cac cot giong theo chieu doc ---trong row*/
.align-item-start{ align-items: flex-start}
.align-item-end{ align-items: flex-end}
.align-item-center{ align-items: center}
/*--- direction cho flex*/
.flex-column{ flex-direction: column}
.flex-column-reverse{ flex-direction: column-reverse}
.flex-row{ flex-direction:row}
.flex-row-reverse{ flex-direction:row-reverse}
/*------------------ he thong spacing*/
body{ margin: 0}
nav { background-color:#eee}
nav .brand-logo{ 
	color: #333; 
	text-decoration: none;
font-size: 1.2rem;
	margin: 20px 10px
}
nav .container{ position: relative}
nav .btn-toggle
{
	position: absolute;
	right: 5px; top: 5px;
	font-size: 1.5rem; 
	cursor: pointer
}
nav ul
{
	display: block;
	margin: 10px 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column
}
nav ul li a
{
	text-decoration: none;
	display: block;
	border-bottom: 1px solid #ccc;
	padding: 5px 10px;
	color: #333
}
#menu { display: none }
@media (min-width:1000px){
	#menu { display: block !important}
	nav ul{
		flex-direction: row
	}
	.btn-toggle{ display: none}
	nav .container
	{
		display: flex;
		justify-content: space-between;
		align-items: center
	}
	nav ul li a{
		border: none
	}
	nav ul li a:hover{ color: palevioletred}
}

